
  const app = Vue.createApp({
   data() {
    return {
     message: "Happy new year!"
    }
   }
  })
  
  app.mount('#app')
 #app {
      display: inline-block;
      padding: 10px;
      font-size: x-large;
      background-color: lightgreen;
    }

 

